.detsecl1 {
    border: 5px solid pink;
    margin: 5px;
    padding: 5px;
    float:left;
    width:400px;
    height:400px;
}
.detsec2 {
    border: 5px solid pink;
    margin: 5px;
    padding: 5px;
    float:none;
    width: 400px;
    height: 400px;
}
.detsec3 {
    border: 5px solid pink;
    margin: 5px;
    padding: 5px;
    float: right;
    width: 400px;
    height: 400px;
}
