{% extends "homepage.html" %}
{% load static  %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>farmer'sCommunication</title>
    
   
</head>
<body>
    
    {% block content %}
    
      <div class="aboutgird">
  
          <div class="matter" >
              <article>
            I am <strong> Dileep Kumar SK</strong> from central university of Karnataka.
my father is farmer with my personal observations every industry is running with communication and getting profits and successful 
but lack of communication only farmers are cultivating more than need with the help of govt we can get communicated and avoid 
mediator and we can get profits here we are sharing crop details and getting commentated with other farmer’s we can know the how get profits.
here know need education to understand my concept but understand the logic behind the communication how it will help to other industries, we faced lots of issues and 
I am here in one application ready to give all important information related farming and govt schemes, weather reports and market live prices.
 the main aim of my application is to communicate farmer’s all over India it will provide the information regarding to agriculture
</article>
          </div>
          <div>
              <figure>
              <img src="/static/imgs/ab1.jpg" alt="imgg" class="ab1" width="350px" height="400px" /></figure>
          </div>
  
      </div>
  
  {% endblock %}

</body>