<div class="grid-container">
    <div>
        <div class="acount-navigation">
            <ul class="account-ul">
                <li class="li-account"><a href="{% url 'account'%}">EDIT PROFILE</a></li>
                <li class="li-account"><a href="{% url 'security'%}">SECURITY</a></li>
                <li class="li-account"><a href="{% url 'help'%}">HELP</a></li>
                <li class="li-account"><a href="{% url 'terms' %}">TERMS</a></li>
                <li class="li-account"><a href="{% url 'feed' %}">SUBMIT FEEDBACK</a></li>
                <li class="li-account"><a href="{% url 'logout'%}">LOGOUT</a></li>
            </ul>
        </div>
    </div>