{% extends "homepage.html" %}
{% load static  %}
<head>
    <title>contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %} ">
</head>
<body>
    
    {% block content %}
   
    
    
    
        <div class="detcsecm">
            
                
                <div class="detcsec">
                    BY PHONE<br>
                    (Monday to Friday, 9am to 6pm PST)<br>
                    Toll-Free:<br>
                    1-877-930-7483<br>
                    <br>
                    International:<br>
                    1-604-637-0780<br>
                </div>
                <div class="detsec">
                    START A NEW CASE<br>
                    Just send us your questions or concerns by starting a new case and we will give you the help you need.<br>
                </div>
                <div class="detsec">
                    START HERE<br>
                    LIVE CHAT<br>
                    Chat with a member of our in-house team.<br>
                </div>

            
                
        </div>
    
{% endblock %}
</body>