<div class="foothome">
<p> quicklinks </p>   <p>FOLLOW US</p> 
 <p> © Central University of Karnataka. 2019 - 2020 All Rights Reserved.</p>
<p>
    <a href="mailto:nanidileepy@mail.com" > 
        <img src='/static/imgs/download.png' width="30px" height="30px" /></a>
   <a href="https://www.instagram.com/invites/contact/?i=1bmdcqkyemla2&utm_content=1nnjarj" > 
            <img src='/static/imgs/insta.png' width="30px" height="30px" /></a> 
    <a href="mailto:nanidileepy@mail.com" > 
                <img src='/static/imgs/fb.png' width="30px" height="30px" /></a>
    <a href="mailto:nanidileepy@mail.com" > 
                    <img src='/static/imgs/twitter.png' width="30px" height="30px" />
                </a>   </p>       
            </div>