<nav class="nav-every-page">
        <div>
            <ul >
  
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'details' %}">DETAILS</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'share' %}">SHARE YOUR-IDEA</a></li>
                <li><a href="">MARKETS</a></li>
                <li><a href="{% url 'contact' %}">CONATACT-US</a></li>
                <li><a href="">NEWS</a></li>
                <li><a href="{% url 'signin' %}">SIGN-IN</a></li>
                <li><a href="{% url 'login' %}">LOGIN </a> </li>


            </ul>
        </div>
      </nav>